* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

/* Main Container */
.mainContainer {
  position: absolute;
  left: 318px;
  right: 0;
  background: #f5f5f5;
}

.navTitle {
  color: #000;
  font-size: 36px;
  font-weight: 500;
  padding: 30px 50px;
}

.mainContent {
  padding: 20px;
  display: flex;
  gap: 20px;
}

/* Floating Button */
.floatBtnContainer {
  display: none;
}

.btnFloat {
  position: fixed;
  bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.floatSave span,
.floatPreview span {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 40px;
  cursor: pointer;
  border-radius: 20px;
  display: block;
  text-align: center;
}

.floatSave span {
  background: #000;
  color: #fff;
}

.floatPreview span {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

.success {
  position: absolute;
  bottom: 55px;
  width: 79%;
  height: 40px;
  color: #3b7850;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #3b7850;
  background: #effdf3;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floatSave.active + .success {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}

.success img {
  margin-right: 10px;
}

/* Popup */
.popup {
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 0.3s ease-in-out 0.2s;
  z-index: 100;
}

.popup .btnClose,
.popup .overlay {
  position: absolute;
}

.popup .btnClose {
  right: 20px;
  top: 20px;
  font-size: 20px;
  color: #000;
  font-weight: 500;
  background: #fff;
  border: none;
}

.popup .overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0;
  transition: opacity 0.1s ease-in-out 0.2s;
  z-index: 101;
}

.popup .popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.15);
  width: 95%;
  max-width: 100vw;
  max-height: 100vh;
  background: #fff;
  padding: 35px;
  opacity: 0;
  border: none;
  transition: all 0.3s ease-in-out;
  z-index: 102;
}

.popup .popup-content img {
  width: 100%;
  height: 100%;
}

.popup.active {
  top: 0;
  transition: top 0s ease-in-out 0s;
}

.popup.active .overlay {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.popup.active .popup-content {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

/* Sidebar */
.sidebarMenu {
  position: fixed;
  height: 100vh;
  width: 318px;
  background: #fff;
  transition: all 0.3s linear;
}

.sidebarMenu .logo {
  position: absolute;
  width: 100%;
  padding: 35px 35px 0;
}

.sidebarMenu .logo img {
  width: 120px;
}

.sidebarMenu .logo .logoTag {
  display: none;
}

.sidebarMenu .menu {
  position: absolute;
  top: 95px;
  width: 100%;
  padding: 14px 45px 14px 33px;
}

.sidebarMenu .menu .menuTag {
  color: #888;
  font-size: 20px;
  font-weight: 400;
  padding: 10px 17px;
}

.sidebarMenu .menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebarMenu .menu .subMenu ul li a {
  padding: 7px 10px;
  transition: all 0.2s linear;
}

.sidebarMenu .menu .menuChild {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebarMenu .menu .menuChild img {
  width: 39px;
  height: 39px;
}

.sidebarMenu .menu a {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.sidebarMenu .menu .subMenu li a:hover {
  border-radius: 20px;
  border: 1px solid #d9d9d9;
}

/* Large Screen View */
.largeView {
  display: block;
}

/* Mobile View */
.mobileView {
  display: none;
}

/* For large devices (desktops and laptops) */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  themeContainerHeader {
    padding: 0px;
  }

  .interfaceContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .sidebarMenu .menu {
    top: 85px;
  }
  .sidebarMenu .menu .menuTag {
    padding: 10px 17px;
  }
  .largeView > li {
    padding-bottom: 15px;
  }
  .sidebarMenu .menu .subMenu ul li a {
    padding: 5px 15px;
  }
}
/* For medium devices (tablets) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  themeContainerHeader {
    padding: 0px;
  }

  .interfaceContainer {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 10px;
  }
  .themePreview {
    height: 500px;
  }

  .sidebarMenu .menu .subMenu ul li {
    padding: 5px;
  }
}
/* For small devices (landscape phones) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .interfaceContainer {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 10px;
  }
  .largeView {
    display: none;
  }
  .mobileView {
    display: block;
  }
  .sidebarMenu {
    width: 280px;
    left: -280px;
  }
  .sidebarMenu .menu {
    position: absolute;
    top: 160px;
    width: 100%;
    padding: 14px 45px 14px 0px;
  }
  .sidebarMenu .menu ul li {
    padding: 30px;
  }
  .sidebarMenu .menu .subMenu ul li {
    padding: 5px;
    transition: all 0.2s linear;
  }
  .sidebarMenu .menu a:hover {
    font-weight: 600;
  }
  .sidebarMenu .menu .subMenu li:hover {
    border: none;
  }
  .sidebarMenu .logo img {
    position: absolute;
    width: 100px;
    padding-top: 55px;
    padding-left: 35px; /* Add padding for better positioning */
  }
  .sidebarMenu .logo .logoTag {
    display: block;
    color: #000;
    width: 231px;
    font-size: 24px;
    font-weight: 500;
    padding-top: 110px;
    padding-left: 35px;
  }
  .sidebarMenu .menu a {
    color: #000;
    font-size: 18px;
    font-weight: 400;
  }
  #check:checked ~ .sidebarMenu {
    left: 0px;
  }
  #check:checked ~ .btnOne {
    opacity: 0;
  }
  #check:checked ~ .sidebarMenu .btnTwo i {
    opacity: 1;
  }
  .sidebarMenu .logoutLink {
    display: block;
  }
}

/* For extra small devices (portrait phones) */
@media only screen and (max-width: 575px) {
  .navbar {
    display: block; /* Display the navbar for mobile devices */
    display: flex; /* Conflicting redeclaration */
    justify-content: center;
    align-items: center;
  }
  .largeView {
    display: none;
  }
  .mobileView {
    display: block;
  }
  .mainContainer {
    position: absolute;
    background: white;
    left: 0;
    background: #f5f5f5;
  }

  .sidebarMenu {
    width: 280px;
    left: -280px;
    height: 100%;
    background: #f5f5f5;
  }
  .sidebarMenu .menu {
    position: absolute;
    top: 160px;
    width: 100%;
    padding: 14px 45px 14px 0px;
  }
  .sidebarMenu .menu ul li {
    padding: 30px;
  }
  .sidebarMenu .menu .subMenu ul li {
    padding: 5px;
    transition: all 0.2s linear;
  }
  .sidebarMenu .menu a:hover {
    font-weight: 600;
  }
  .sidebarMenu .menu .subMenu li:hover {
    border: none;
  }
  .sidebarMenu .logo img {
    position: absolute;
    width: 100px;
    padding-top: 55px;
    padding-left: 35px; /* Add padding for better positioning */
  }
  .sidebarMenu .logo .logoTag {
    display: block;
    color: #000;
    width: 231px;
    font-size: 24px;
    font-weight: 500;
    padding-top: 110px;
    padding-left: 35px;
  }
  .sidebarMenu .menu a {
    color: #000;
    font-size: 18px;
    font-weight: 400;
  }
  #check:checked ~ .sidebarMenu {
    left: 0px;
  }
  #check:checked ~ .btnOne {
    opacity: 0;
  }
  #check:checked ~ .sidebarMenu .btnTwo i {
    opacity: 1;
  }
  .sidebarMenu .logoutLink {
    display: block;
  }

  /* main Section */
  .mainContainer {
    background: #fff;
  }
  .floatBtnContainer {
    display: block;
  }
  .navTitle {
    font-size: 28px;
    padding: 100px 0px 0px 40px;
  }
  .themePreview {
    display: none;
  }
  .mainContent {
    max-width: 500px;
    margin: auto;
    padding: 10px 30px;
    margin: 0;
  }
  .themeSection {
    width: 100%;
  }
  .themeContainer {
    width: 100%;
    padding: 0px 0px 25px 0px;
    margin: auto;
  }
  .themeContainerHeader {
    font-size: 16px;
  }
  .interfaceContainer {
    justify-items: center;
    gap: 10px;
    padding-top: 15px;
  }
  .mainBox .btnOne {
    left: 40px;
  }
  .interfacePreview {
    max-width: 90px;
  }
  .interfacePreview .btnPrimary img {
    width: 100%;
  }
  .interfaceName {
    font-size: 14px;
    padding: 5px;
  }
  .themeColorContainer {
    border-radius: 40px;
    background: #fff;
    padding: 23px 0px;
  }
  .bgTitle {
    font-size: 16px;
    padding: 0px 11px;
  }
  .colorContainer {
    gap: 5px;
    padding: 10px 15px;
  }
  .colorDiv {
    width: 40px;
    height: 40px;
  }
}
