* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main container style */

.mainContainer {
  position: absolute;
  left: 318px;
  right: 0; /* Adjust according to sidebar width */
  background: #f5f5f5;
}
.navTitle {
  color: #000;
  font-size: 36px;
  font-weight: 500;
  padding: 30px 50px;
}
.popup {
  position: fixed;
  top: -100vh;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: top 0.3s ease-in-out 0.2s;
  z-index: 1000; /* Ensure the popup is above other content */
}
.popup .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0;
  transition: opacity 0.1s ease-in-out 0.2s;
  z-index: 1001; /* Ensure the overlay is above the popup container */
}
.popup .popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.15);
  width: 95%;
  max-width: 522px;
  background: #fff;
  padding: 35px;
  border-radius: 40px;
  opacity: 0;
  border: 1px solid #888;
  transition: all 0.3s ease-in-out;
  z-index: 1002; /* Ensure the content is above the overlay */
}
.popup .popup-content .controls button {
  border-radius: 11px;
  color: #000;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 15px;
  cursor: pointer;
}
.popup .popup-content .controls .btnClose {
  background: #fff;
  border: 1px solid #d9d9d9;
}
.popup .popup-content .controls .btnSubmit {
  background: #000;
  color: #fff;
  border: 1px solid #000;
}
.popup.active {
  top: 0px;
  transition: top 0s ease-in-out 0s;
}
.popup.active .overlay {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.popup.active .popup-content {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.popup-content > h3 {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 30px;
}
.infoHeader {
  display: flex;
  justify-content: space-between;
}
.infoHeader > h3 {
  color: #000;
  font-size: 20px;
  font-weight: 600;
}
.btnPrimary {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  align-items: center;
  border-radius: 11px;
  border: 1px solid #d9d9d9;
  background: #fff;
  padding: 8px 13px;
  gap: 3px;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 25px;
  cursor: pointer;
}
.controls {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.mainContent {
  padding: 20px;
  display: flex;
  gap: 20px;
}
.projectsSection {
  /*  width: 620px;*/ /* Adjust width */
  width: 56%;
}
.projectsContainer {
  border-radius: 40px;
  padding: 0px 10px;
  margin-bottom: 15px;
}
.projectNav {
  display: flex;
  align-items: center;
}
.projectsContainerHeader {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  padding: 0px 10px;
}
.btnProjectModal {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 11px;
  border: 1px solid #d9d9d9;
  background: #fff;
  padding: 3px 15px;
  gap: 3px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.btnProjectModal img {
  width: 20px;
  height: 20px;
}

.btnProjectModal:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.2em);
}

.project {
  height: auto;
  position: relative;
  border-radius: 40px;
  margin-bottom: 30px;
}
.project img {
  width: 100%;
  border-radius: 40px;
}
.projectInfo {
  position: absolute;
  left: 30px;
  bottom: 30px;
}
.projectTitle {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  font-weight: 600;
  padding: 5px 0;
}
.projectDescription {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

/* Preview */
.projectPreview {
  width: 42%;
  border-radius: 40px;
  background: #fff;
}

.chartContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
}
.chartContainerHeading {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  padding: 30px 0px 0px 40px;
}
.chartBox {
  width: 400px;
  padding-top: 40px;
  background: white;
}
.chartContainer .chartDetails ul {
  list-style: none;
  padding: 0;
}
.chartContainer .chartDetails ul li {
  font-size: 20px;
  margin: 30px 0px;
  display: flex;
  align-items: center;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}
.percentage {
  font-weight: 600;
  color: #000;
  padding: 0px 15px;
}
hr {
  background-color: #d9d9d9;
  border-width: 0;
  padding-top: 1px;
  margin: 10px 0px;
}
/* To Do */
.toDoContainer {
  padding: 30px 30px 0px 40px;
  margin-bottom: 15px;
}
.toDoHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.toDoHeader h3 {
  color: #000;
  font-size: 24px;
  font-weight: 600;
}

/* Button Save */
.btnManage {
  color: #000;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  border: none;
  background: #fff;
  padding: 8px 13px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.btnManage:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.2em);
}
.schedule {
  margin: 12px 0px;
  background: #f5f5f5;
  border-radius: 21px;
  border: 1px solid #f5f5f5;
  padding: 14px 0px 20px 23px;
}
.schedule h3 {
  color: #000;
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 7px;
}
.schedule p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
.btnAddTask {
  width: 100%;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  border-radius: 21px;
  border: 1px solid #000;
  background: #fff;
  padding: 13px 0px;
  gap: 3px;
  margin: 11px 0px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.btnAddTask:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.2em);
}
/* To Do Popup */
.taskPopupContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 0px;
}
.searchInput {
  width: 100%;
  position: relative;
}
.searchInput input {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  display: block;
  border-radius: 15px;
  border: 1px solid #d9d9d9;
  padding: 8px 15px;
}
.searchInput button {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 15px;
}
.searchInput button i {
  color: #000;
}
.scheduleInput {
  display: flex;
  align-items: center;
  gap: 5px;
}
.scheduleInput .inputDate {
  width: 27%;
  font-size: 15px;
  font-weight: 400;
  border-radius: 15px;
  border: 1px solid #d9d9d9;
  padding: 10px 10px;
  text-align: center;
}
.scheduleInput .inputTime {
  width: 23%;
  font-size: 15px;
  font-weight: 400;
  border-radius: 15px;
  border: 1px solid #d9d9d9;
  padding: 10px 10px;
  text-align: center;
}
.textareaPopupContainer {
  display: flex;
  align-items: start;
  gap: 15px;
  padding: 10px 0px;
}
.searchInput textarea {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  border-radius: 15px;
  border: 1px solid #d9d9d9;
  padding: 8px 15px;
}

/* Navbar design for Mobile device */
.navbar {
  display: none; /* This hides the navbar */
  position: fixed;
  background: white;
  width: 100%;
  height: 100px;
}
.navbar .navLogo {
  width: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .navLogo img {
  max-height: 100%; /* Ensure the logo does not exceed the navbar height */
  max-width: 100%; /* Ensure the logo does not exceed its container */
}
/* hamburger menu */
#check {
  display: none;
}
.mainBox .btnOne {
  color: #000;
  position: absolute;
  left: 16px;
  line-height: 60px;

  opacity: 1;
  transition: all 0.9s linear;
}
.sidebarMenu .btnTwo i {
  font-size: 20px;
  line-height: 120px;
  position: absolute;
  left: 221px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s linear;
  color: #000;
}
/* Sidebar design */
.sidebarMenu {
  position: fixed;
  height: 100vh;
  width: 318px;

  background: #fff;
  transition: all 0.3s linear;
  /* border-right: 1px solid #ccc; Add border for better separation */
}
/* sidebar logo */
.sidebarMenu .logo {
  position: absolute;
  width: 100%;
}
.sidebarMenu .logo img {
  position: absolute;
  width: 120px;
  padding-top: 35px;
  padding-left: 35px;
}
.sidebarMenu .logo .logoTag {
  display: none;
}
.sidebarMenu .menu {
  position: absolute;
  top: 95px;
  width: 100%;
  padding: 14px 45px 14px 33px;
}
.largeView > li {
  padding-bottom: 30px;
}
.sidebarMenu .menu .menuTag {
  color: #888; /* Set color for menu text */
  font-size: 20px;
  font-weight: 400;
  padding: 10px 17px;
}

.sidebarMenu .menu ul {
  list-style-type: none; /* Remove default list style (usually bullet points) */
  padding: 0;
  margin: 0;
}

.sidebarMenu .menu .subMenu ul li a {
  padding: 7px 10px;
  transition: all 0.2s linear;
}
.sidebarMenu .menu .menuChild {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sidebarMenu .menu .menuChild img {
  width: 39px;
  height: 39px;
}
.sidebarMenu .menu a {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}
.sidebarMenu .menu .subMenu li a:hover {
  border-radius: 20px;
  border: 1px solid #d9d9d9;
}
/* sidebar bottom for mobile device */
.sidebarMenu .logoutLink {
  display: none;
  position: fixed;
  bottom: 20px;
  width: 100%;
  padding: 14px 0px 0px 33px;
}
.sidebarMenu .logoutLink a {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  text-decoration-line: underline;
  transition: all 0.3s linear;
}
/* large Screen View */
.largeView {
  display: block;
}
/* mobile View */
.mobileView {
  display: none;
}
/* For large devices (desktops and laptops) */
@media only screen and (min-width: 1440px) and (max-width: 2559px) {
  .chartBox {
    width: 200px;
    padding-top: 0px;
  }
  .chartContainer .chartDetails ul li {
    font-size: 16px;
  }
}
/* For large devices (desktops and laptops) */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .chartContainer {
    gap: 0px;
  }

  .chartBox {
    width: 140px;
    padding: 0px;
  }
  .chartContainer .chartDetails ul li {
    font-size: 14px;
    margin: 10px 0px 18px 0px;
  }
  themeContainerHeader {
    padding: 0px;
  }

  .interfaceContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .sidebarMenu .menu {
    top: 85px;
  }
  .sidebarMenu .menu .menuTag {
    padding: 10px 17px;
  }
  .largeView > li {
    padding-bottom: 15px;
  }
  .sidebarMenu .menu .subMenu ul li a {
    padding: 5px 15px;
  }
}
/* For medium devices (tablets) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .navTitle {
    padding: 30px 20px;
  }
  .chartContainer {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .chartContainerHeading {
    font-size: 20px;

    padding: 10px 0px 0px 40px;
  }
  .chartBox {
    width: 150px;
    padding: 0px;
  }
  .chartContainer .chartDetails ul li {
    font-size: 14px;
    margin: 0px 0px 20px 0px;
  }

  .sidebarMenu .menu .subMenu ul li {
    padding: 5px;
  }
}
/* For small devices (landscape phones) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .interfaceContainer {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 10px;
  }
  .largeView {
    display: none;
  }
  .mobileView {
    display: block;
  }
  .sidebarMenu {
    width: 280px;
    left: -280px;
  }
  .sidebarMenu .menu {
    position: absolute;
    top: 160px;
    width: 100%;
    padding: 14px 45px 14px 0px;
  }
  .sidebarMenu .menu ul li {
    padding: 30px;
  }
  .sidebarMenu .menu .subMenu ul li {
    padding: 5px;
    transition: all 0.2s linear;
  }
  .sidebarMenu .menu a:hover {
    font-weight: 600;
  }
  .sidebarMenu .menu .subMenu li:hover {
    border: none;
  }
  .sidebarMenu .logo img {
    position: absolute;
    width: 100px;
    padding-top: 55px;
    padding-left: 35px; /* Add padding for better positioning */
  }
  .sidebarMenu .logo .logoTag {
    display: block;
    color: #000;
    width: 231px;
    font-size: 24px;
    font-weight: 500;
    padding-top: 110px;
    padding-left: 35px;
  }
  .sidebarMenu .menu a {
    color: #000;
    font-size: 18px;
    font-weight: 400;
  }
  #check:checked ~ .sidebarMenu {
    left: 0px;
  }
  #check:checked ~ .btnOne {
    opacity: 0;
  }
  #check:checked ~ .sidebarMenu .btnTwo i {
    opacity: 1;
  }
  .sidebarMenu .logoutLink {
    display: block;
  }
}

/* For extra small devices (portrait phones) */
@media only screen and (max-width: 575px) {
  .navbar {
    display: block; /* Display the navbar for mobile devices */
    display: flex; /* Conflicting redeclaration */
    justify-content: center;
    align-items: center;
  }
  .largeView {
    display: none;
  }
  .mobileView {
    display: block;
  }
  .mainContainer {
    position: absolute;
    background: white;
    left: 0;
    background: #f5f5f5;
  }

  .sidebarMenu {
    width: 280px;
    left: -280px;
    height: 100%;
    background: #f5f5f5;
  }
  .sidebarMenu .menu {
    position: absolute;
    top: 160px;
    width: 100%;
    padding: 14px 45px 14px 0px;
  }
  .sidebarMenu .menu ul li {
    padding: 30px;
  }
  .sidebarMenu .menu .subMenu ul li {
    padding: 5px;
    transition: all 0.2s linear;
  }
  .sidebarMenu .menu a:hover {
    font-weight: 600;
  }
  .sidebarMenu .menu .subMenu li:hover {
    border: none;
  }
  .sidebarMenu .logo img {
    position: absolute;
    width: 100px;
    padding-top: 55px;
    padding-left: 35px; /* Add padding for better positioning */
  }
  .sidebarMenu .logo .logoTag {
    display: block;
    color: #000;
    width: 231px;
    font-size: 24px;
    font-weight: 500;
    padding-top: 110px;
    padding-left: 35px;
  }
  .sidebarMenu .menu a {
    color: #000;
    font-size: 18px;
    font-weight: 400;
  }
  #check:checked ~ .sidebarMenu {
    left: 0px;
  }
  #check:checked ~ .btnOne {
    opacity: 0;
  }
  #check:checked ~ .sidebarMenu .btnTwo i {
    opacity: 1;
  }
  .sidebarMenu .logoutLink {
    display: block;
  }
}
